version: '2.1'

services:
  nodes:
    image: nodes
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      JAVA_OPTS: -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5005,quiet=y
    ports:
      - 8086:8086
      - 5005:5005
    